langchain
langchain-community
langchain-openai
python-dotenv
pandas
faker
streamlit
SQLAlchemy
matplotlib
seaborn
cryptography
streamlit-ace
sql-formatter

# --- NOVOS DRIVERS DE BANCO DE DADOS ---
psycopg2-binary   # Para PostgreSQL
mysql-connector-python # Para MySQL/MariaDB
pyodbc # Para SQL Server